.bg{
    background-color: var(--bg);
}
.my-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.part2{
    margin-top:84px !important;
}
@media (max-width: 768px) {
    .part2 {
      margin-top: 0px !important;
      margin-bottom: 50px !important;
    }
   
  }